In [3]:
nMax = 3
n = 0
while n < nMax:
    print('n=', n)
    n+=1
else:
    print('DONE')

n= 0
n= 1
n= 2
DONE

In [1]:
#example of continue in a for loop
x = []
for i in range(1,100):
    if i%7 !=0: continue
    x.append(i)
print(x)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [2]:
myList = [1,2,4,'a']
myList.insert(3,'apple')

In [3]:
myList

[1, 2, 4, 'apple', 'a']

In [2]:
a = [1,2,3,4,54]
for i in range(0,5):
    a[i]=2*a[i]
    print(a[i])

2
4
6
8
108

In [3]:
for val in a:
    print(val)

2
4
6
8
108

In [4]:
a

[2, 4, 6, 8, 108]

In [5]:
print('i a[i]')
print('-------')
for i in range(0,3):
    print(i,' ',a[i])

i a[i]
-------
0   2
1   4
2   6

In [4]:
seq = [1,4,64,2,9]
for val in seq:
    if (val == 2):
        print('The value 2 is found')
        break
    print(val)

1
4
64
The value 2 is found